:root {
  --light: #fff;
  --grey: #f2f2f2;
  --dark: #36393f;
  --darker: #2f3136;
  --darkest: #202225;
  --blurple: #5865f2;
  --blue: #3498DB;
  --bright: #ffffff40;
}

* {
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: opacity;
  font-family: 'Leon';
}

*::selection {
  background: var(--blurple);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Leon', sans-serif;
  font-size: 1vw;
  color: var(--dark);
  background: var(--light);
}

#app {
  width: 100%;
}

@font-face {
  font-family: 'Leon';
  src: url('leon-med.otf');
}

span {
  font-family: 'Leon', sans-serif;
}

.f {
  opacity: 0;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.centralise {
  justify-content: center;
  align-items: center;
}

nav {
  background: transparent;
  height: 4vw;
  padding: 0 10%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

#navigation {
  height: 100%;
  width: 40vw;
}

.vyxo {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2vw;
  letter-spacing: 0.25vw;
  transition-duration: 0.25s;
  transition-property: transform, opacity;
  cursor: pointer;
  color: var(--light);
}

.vyxo:hover {
  transform: scale(1.1);
}

.vyxo-wrapper {
  height: 100%;
  width: 20vw;
}

a {
  color: var(--blurple);
  text-decoration: none;
  font-weight: inherit;
  transition-duration: 0.25s;
  transition-property: color;
}

a:hover {
  color: var(--darkest);
}

.smooth {
  color: var(--light);
  padding: 0 2vw;
  height: 100%;
  background-image: linear-gradient(to right, var(--light), var(--light));
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 0% 10%;
  transition-property: background-size;
}

.smooth:hover {
  color: var(--light);
  background-size: 100% 10%;
}

button {
  border: none;
  outline: none;
  font-size: 1vw;
  padding: 0.75vw 1.5vw;
  border-radius: 0.25vw;
  background: var(--blurple);
  color: var(--light);
  cursor: pointer;
  background-color: var(--dark);
  background-image: linear-gradient(to right, var(--light), var(--light));
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0% 100%;
  transition-duration: 0.25s;
  transition-property: background-size, color;
  user-select: none;
  -webkit-user-select: none;
}

button:hover {
  color: var(--blurple);
  background-size: 100% 100%;
}

.buttons {
  width: 20vw;
  height: 100%;
}

.buttons.jc-end button {
  margin: 0 0 0 1vw;
}

.banner {
  /* position: relative; */
  background: var(--blurple);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
}

#dimension {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

.reveal-load {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: translate(0, 0);
  animation: reveal-load 2.5s;
}

.hero-text {
  margin-top: 1vw;
  color: var(--light);
  font-size: 2vw;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 50vw;
}

.punch {
  font-size: 4vw;
  color: var(--light);
}

section {
  width: 80%;
  min-height: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5vw 10vw;
  background: var(--light)
}

section.alt {
  background: var(--grey);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.writing {
  width: 35vw;
}

span.title {
  font-size: 3vw;
}

p {
  font-size: 1.25vw;
  color: var(--dark);
  line-height: 1.5vw;
}

strong {
  color: var(--darkest);
}

.graphics {
  width: 35vw;
  height: 5vw;
}

.bg-darker {
  background: var(--darker);
}

.bg-dark {
  background: var(--dark);
}

@keyframes reveal-load {
  0% {
    transform: translate(0, 4vw);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  60% {
    transform: translate(0, 4vw);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  100% {
    transform: translate(0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}